body {
  margin-top: 80px;
  margin-left: 280px;
  background-color: #A9A9F5;
  color: #29088A;
}

ul.navbar {
  position: fixed;
  top: 30px;
  left: 15px;
  width: 150px;
  height: 1000px;
  list-style-type: none;
  border-left: 1px solid #29088A;
  background-image: url(skyrim.jpg);
  background-position: 60% 00%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul.navbar li {
  margin: 5px 0;
  padding: 5px;
  width: 120px;
  border-right: 1px solid #380B61;
  border-top: 1px solid #380B61;
  border-left: 5px solid #380B61;
  border-bottom: 1px solid #380B61;
}

ul.navbar a {
  text-decoration: none
}

.cad {
  color: white;
  background-color: #29088A;
  border-right: 2px solid #380B61;
  border-left: 2px solid #380B61;
  border-bottom: 2px solid #380B61;
  border-top: 2px solid #380B61;
}

.color1 {
	color: green;
}

.color2{
	color: red;
}

.color3 {
  color: yellow;
}

a:link {
  color: #5858FA;
}

a:visited {
  color: #D0A9F5;
}

header {
 	position: fixed;
 	left: 0px;
	right: 0px;
	top: 0px;
	height: 30px;
	margin: 0;
	background-color: black;
}
